<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="InputFolder" value="C:\Users\User\Desktop\ITSight\GCP-SAP\in" />
		<add key="CapacitaPattern" value="*capacitaweb*.csv" />
		<add key="SubsidiosPattern" value="*subsidio*.csv" />
		<add key="PermitsPattern" value="*permit*.csv" />
		
		<add key="LogPath" value="C:\Users\User\Desktop\ITSight\GCP-SAP\logs\sap_gcp.log" />
		<add key="LogFormat" value="text" />
	</appSettings>
	<connectionStrings>
		<add name="SapDb"
			 connectionString="Server=localhost;Database=SodimacSAP;User Id=sa;Password=4pfzqo0yE@;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>