<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
	<!--	<add key="InputFolder" value="C:\Users\User\Desktop\ITSight\GCP-SAP\in" />
		<add key="CapacitaPattern" value="*capacitaweb*.csv" />
		<add key="SubsidiosPattern" value="*subsidio*.csv" />
		<add key="PermitsPattern" value="*permit*.csv" /> -->
		<!-- GCP -->
		<add key="Gcp:CredentialsPath" value="C:\seguro\service-account-key.json" />
		<add key="Gcp:Bucket" value="ec-itsight-sodimac-dev" />
		<!-- Las 3 carpetas remotas separadas por ;  (terminar con /) -->
		<add key="Gcp:RemoteFolders" value="CAPACITAWEB/;SUBSIDIOS/;PERMITS/" />
		<!-- Nombre base opcional si lo usan, si no, descarga por token fecha -->
		<add key="Gcp:FilePrefix" value="" />

		<!-- Fecha del día y password ZIP -->
		<add key="RunDateFormat" value="yyyyMMdd" />
		<add key="ZipPasswordPrefix" value="Abcd1234_" />
		<add key="UseZipPassword" value="true" />
		<add key="ProcessZipsFirst" value="true" />
		<add key="LogPath" value="C:\Users\User\Desktop\ITSight\GCP-SAP\logs\sap_gcp.log" />
		<add key="LogFormat" value="text" />
	</appSettings>
	<connectionStrings>
		<add name="SapDb" connectionString="Server=localhost;Database=SodimacSAP;User Id=sa;Password=4pfzqo0yE@;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.69.0.0" newVersion="1.69.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.69.0.0" newVersion="1.69.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.69.0.0" newVersion="1.69.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>